{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
<h3 class="text-success font-bold display-6 text-center mb-xl-4">{{ name }}</h3>
<button class="mb-3"><a class="hover:bg-yellow-300 hover:text-black btn btn-success" href="{% url 'add_categories' %}">Добавить
    новую категорию</a></button>

<p class="text-center mb-xxl-4 lead">
    При выборе категории отразятся рецепты данной категории
</p>
<div class="row row-cols-1 row-cols-md-5 g-4">

    {% for key, value in categories.items %}
    <div class="col">
        <div class="card h-10">
            <div class="card-body">
                <h4 class="card-title">{{ key }} |    <a href="{% url 'category_recipes' value.name %}">{{ value.name }}</a> </h4>
            </div>
        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}


