{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}

{% block content %}
<h1 class="text-success font-bold display-4 text-center">Рецепты</h1>



<button ><a class="hover:bg-yellow-300 hover:text-black btn btn-success" href="{% url 'add_recipe' %}">Добавить новый рецепт</a></button>
<div class="row">
    {% for recipe in recipes %}
    <div class="card" style="width: 18rem;">
  {% if recipe.photo %}
    <img src="{{ recipe.photo.url }}" class="card-img-top" alt="изображение">
  {% endif %}
    <div class="card-body">
      <h4 class="card-title"> {{ recipe.name }} | Автор: {{ recipe.author }}</h4>
      <h5 class="card-text"> Категории:  {{ recipe.display_categories }}</h5>
      <h5 class="card-text"> Ингредиенты:  {{ recipe.display_ingredients }}</h5>
      <a href="{% url 'recipe' recipe.name %}" class="hover:bg-yellow-300 hover:text-black btn btn-primary">Показать рецепт</a>
    </div>
</div>


    {% endfor %}

</div>
{% endblock %}
